<h1><%= @movie.name %><small> Directed by: <%= @movie.director %></small></h1>
<h4>Ranked: <%= @movie.rank %></h4>
<p>
<%= @movie.description %>
<p>

<%= link_to "Upvote", movies_upvote_path(@movie), class: "btn btn-primary" %>
<p>
<%= link_to "Edit #{@movie.name}", movies_edit_path(@movie), class:"btn btn-default" %>
<%= link_to "DELETE", movies_destroy_path(@movie), class: "btn btn-danger", onclick: "myFunction(event)" %>
<%= link_to "View All Movies", movies_path, class:"btn btn-default" %>
<%= link_to "View All Media", root_path, class: "btn btn-default" %>
