<h1><%= @movie.name %><small> Directed by: <%= @movie.director %></small></h1>
Ranked: <%= @movie.rank %>
<p>
<%= @movie.description %>
<p>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Upvote</button>
<p>
<!-- Standard button -->
<%= link_to "Edit #{@movie.name}", movies_edit_path(@movie), class:"btn btn-default" %>

<%= link_to "DELETE", movies_destroy_path(@movie), class: "btn btn-danger" %>

<!-- Standard button -->
<%= link_to "View All Movies", movies_path, class:"btn btn-default" %>

<!-- Standard button -->
<%= link_to "View All Media", root_path, class: "btn btn-default" %>
