<h1><%= @book.name %><small> Written by: <%= @book.author %></small></h1>
<h4>Ranked: <%= @book.rank %></h4>
<p>
<%= @book.description %>
<p>

<%= link_to "Upvote", books_upvote_path(@book), class: "btn btn-primary" %>
<p>

<%= link_to "Edit #{@book.name}", books_edit_path(@book), class:"btn btn-default" %>
<%= link_to "DELETE", books_destroy_path(@book), class: "btn btn-danger", onclick: "myFunction(event)" %>
<%= link_to "View All Books", books_path, class:"btn btn-default" %>
<%= link_to "View All Media", root_path, class: "btn btn-default" %>
