<h1><%= @book.name %><small> Written by: <%= @book.author %></small></h1>
<h4>Votes: <%= @book.rank %></h4>
<p>
<%= @book.description %>
<p>


<p>

<%= link_to "Edit #{@book.name}", books_edit_path(@book), class:"s btn btn-default" %>
<%= link_to "Delete", books_destroy_path(@book), class: "t btn btn-danger", onclick: "myFunction(event)" %>
<%= link_to "View All Books", books_path, class:" q btn btn-default" %>
<%= link_to "View All Media", root_path, class: " r btn btn-default" %>
<%= link_to "Upvote", books_upvote_path(@book), class: "u btn btn-primary" %>
<%= link_to "Upvote", books_upvote_path(@book), class: "v btn btn-primary" %>
