<h1><%= @book.name %><small> Written by: <%= @book.author %></small></h1>
Ranked: <%= @book.rank %>
<p>
<%= @book.description %>
<p>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Upvote</button>
<p>
<!-- Standard button -->
<%= link_to "Edit #{@book.name}", books_edit_path(@book), class:"btn btn-default" %>

<%= link_to "DELETE", books_destroy_path(@book), class: "btn btn-danger" %>

<!-- Standard button -->
<%= link_to "View All Books", books_path, class:"btn btn-default" %>

<!-- Standard button -->
<%= link_to "View All Media", root_path, class: "btn btn-default" %>
