<h1><%= @book.name %><small> Written by: <%= @book.author %></small></h1>
Ranked: <%= @book.rank %>
<p>
<%= @book.description %>
<p>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Upvote</button>
<p>
<!-- Standard button -->
<button type="button" class="btn btn-default">Edit <%= @book.name %></button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Delete</button>

<!-- Standard button -->
<button type="button" class="btn btn-default">View All Books</button>

<!-- Standard button -->
<button type="button" class="btn btn-default">View All Media</button>
