<!DOCTYPE html>
<html>
<head>
  <title>MediaRanking</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <script>
  function myFunction() {
      var x;
      if (confirm("Are you sure?") == true) {
          x = "You pressed OK!";
      } else {
          x = "You pressed Cancel!";
      }
      document.getElementById("demo").innerHTML = x;
  }
  </script>
</head>
<body>
<div class = "container">
  <div class = "row">

    <div class = "col-lg-12">

      <h1 class = "header"><%=image_tag ("crow-on-branch-th.png") %>

      <%= link_to "Media Ranker", root_path %> <small>Ranking the Best of Everything</small> </h1>

      <%= yield %>

    </div>
  </div>
</div>
</body>
</html>
